name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: ryuichiueda/ubuntu22.04-ros2:latest
    steps:
      - uses: actions/checkout@v3
      - name: build and test
        run: |
          # 1. 不足しがちなコマンドをまとめてインストール
          apt-get update
          apt-get install -y rsync sudo git python3-pip
          
          # もしcolconが必要ならこれも追加 (通常は入っていますが念のため)
          # apt-get install -y python3-colcon-common-extensions

          # 2. ROS 2環境設定
          source /opt/ros/humble/setup.bash
          
          # 3. コピー
          rsync -av ./ /root/ros2_ws/src/mypkg/

          # 4. 改行コード修正 & 権限付与
          sed -i 's/\r//' /root/ros2_ws/src/mypkg/test/test.bash
          chmod +x /root/ros2_ws/src/mypkg/test/test.bash

          # 5. テスト実行
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
