name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: osrf/ros:jazzy-desktop
    steps:
      - uses: actions/checkout@v4
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
