name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    container: osrf/ros:jazzy-desktop
    steps:
      - uses: actions/checkout@v4
      - name: build and test
        run: |
          source /opt/ros/jazzy/setup.bash

          mkdir -p /root/ros2_ws/src/mypkg

          cp -r . /root/ros2_ws/src/mypkg/

          cd /root/ros2_ws

          rosdep update
          rosdep install -i --from-path src --rosdistro jazzy -y

          bash -xv src/mypkg/test/test.bash /root
